{% extends 'app.twig' %}
{% block content %}
    {% include 'reminder/_create.twig' %}
    <br>
    {% if reminders.count %}
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Reminder</th>
                    <th>Frequency</th>
                    <th>Day</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Run Once?</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for reminder in reminders %}
                <tr>
                    <td>{{ reminder.body }}</td>
                    <td>{{ reminder.frequency }}</td>
                    <td>{{ reminder.day ?: '-' }}</td>
                    <td>{{ reminder.date ?: '-' }}</td>
                    <td>{{ reminder.time }}</td>
                    <td>{{ reminder.run_once ? 'yes' : 'no' }}</td>
                    <td>
                        <a href="" onclick="event.preventDefault(); document.getElementById('delete-{{ reminder.id }}').submit();">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% for reminder in reminders %}
            <form action="{{ path_for('reminders.delete', { reminder: reminder.id }) }}" method="post" id="delete-{{ reminder.id }}">
            </form>
        {% endfor %}

    </div>
    {% else %}
        There's no reminder.
    {% endif %}
{% endblock %}
